h1{
    justify-content: center;
    background-color: aqua;
    font-size: 50px;
    width: 800px;
    height: 150px;
    text-align: center;
    border: dashed 10px black;
    padding: 10px;
}
p{ 
    text-align: center;   
}
li{
    justify-content: center; 
}

.one{ 
    background-color:rgb red, green, blue (30,  40, 50)
    
}
.two{
    background-color:rgb red, green, blue (30, 40, 50)
}
.three{
    background-color:rgb red, green, blue (25, 30, 40)
}
