h1{
    margin: auto;
    background-color: aqua;
    font-size: 50px;
    width: 800px;
    height: 150px;
    text-align: center;
    border: dashed 10px black;
    padding: 10px;
    
}
p{ 
    text-align: center;   
}
li{
    justify-content: center; 
}
.one{ 
    width: 600px;
    height: 550px;
}
.two{
    width: 600px;
    height: 550px;
}
.three{
    width: 650px;
    height: 600px;
}
